<div class="container-sm" style="padding: 0px;">
  <nav class="navbar navbar-expand-lg rounded-3" data-bs-theme="dark" style="background-color: #24262b;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Stock-hub</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a   [class.active]="listArray[0].display" class="nav-link" aria-current="page"  [routerLink]="['/main/']">Home</a>
          </li>
          <li class="nav-item">
            <a  [class.active]="listArray[1].display" class="nav-link" [routerLink]="['/main/item']">item</a>
          </li>
          <li class="nav-item">
            <a  [class.active]="listArray[2].display" class="nav-link" [routerLink]="['/main/plate']">plate</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              ManageStock
            </a>
            <ul class="dropdown-menu">
              <li><a [class.active]="listArray[3].display"  class="dropdown-item" [routerLink]="['/main/quantity']">In Come</a></li>
              <li><a  [class.active]="listArray[4].display" class="dropdown-item" [routerLink]="['/main/outquantity']">Out Come</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a  [class.active]="listArray[5].display" class="dropdown-item" [routerLink]="['/main/inventory']">inventory</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a [class.active]="listArray[6].display" class="nav-link" [routerLink]="['/main/account']">Settings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/main/account']" (click)="logOut()">Log-Out</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit" [disabled]="true">Search</button>
        </form>
      </div>
    </div>
  </nav>
</div>