<div class="container-sm main-container" >
    <p  style="font-weight:bolder;font-size: 20px;font-family: var(--mdc-protected-button-label-text-font, var(--mat-app-label-large-font));">Inventory</p>  
    <div class="row" style="margin-top: 30px;">
        <div class="col-xl-5">
            <form [formGroup]="formSearchIncome" (ngSubmit)="searchData()">
            <div class="row" style="margin: 0.5rem 0px;">
                <mat-form-field>
                    <mat-label>Kitchen</mat-label>
                    <input type="text" placeholder="choose kitchen" aria-label="text" matInput [formControl]="kitchenNames2" [matAutocomplete]="auto3"/>
                    <mat-autocomplete #auto3="matAutocomplete">
                            @for(option of filteredOptions2 | async; track option){
                                <mat-option [value]="option.kitchen_name"> {{option.kitchen_name}}</mat-option>
                            }
                    </mat-autocomplete>
                </mat-form-field>
                </div>
                <div class="row" style="margin: 0.5rem 0px;">
                    <mat-form-field>
                        <mat-label>Choose date</mat-label>
                        <input matInput [matDatepicker]="picker4" formControlName="date_in"/>
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="picker4"></mat-datepicker-toggle>
                        <mat-datepicker #picker4></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="row" style="margin: 0.5rem 0px;">
                    <mat-form-field>
                        <mat-label>Choose date</mat-label>
                        <input matInput [matDatepicker]="picker5" formControlName="date_out"/>
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="picker5"></mat-datepicker-toggle>
                        <mat-datepicker #picker5></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="row" style="margin: 0.5rem 0px;display: flex;flex-direction:row;">
                    <button type="submit" [disabled]="loadingSearch" style="max-width:120px;margin: 12px;" mat-stroked-button>
                        @if(loadingSearch){
                            <i class="fa fa-spinner fa-spin"></i>
                        }@else{
                            Search
                        }
                    
                    </button>
                </div>
            </form>
        </div>
    <div class="col-xl-7">
        <div class="container-sm col-spec" >
            <mat-form-field>
                <mat-label>Filter</mat-label>
                <input matInput (keyup)="applyFilter1($event)" placeholder="Ex Fish" #input1/>
            </mat-form-field>
            <table mat-table [dataSource]="dataSouce1" class="mat-elevation-z8">
                <ng-container matColumnDef="item">
                    <th mat-header-cell *matHeaderCellDef>Items</th>
                    <td mat-cell *matCellDef="let e1">{{e1.item_name}}</td>
                </ng-container>
                <ng-container matColumnDef="income">
                    <th mat-header-cell *matHeaderCellDef>Income</th>
                    <td mat-cell *matCellDef="let e1">{{e1.income}}</td>
                </ng-container>
                <ng-container matColumnDef="outcome">
                    <th mat-header-cell *matHeaderCellDef>Outcome</th>
                    <td mat-cell *matCellDef="let e1">{{e1.outcome}}</td>
                </ng-container>
                <ng-container matColumnDef="amount">
                    <th mat-header-cell *matHeaderCellDef>remaining</th>
                    <td mat-cell *matCellDef="let e1">{{e1.amount}}</td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="listColumn"></tr>
                <tr mat-row *matRowDef="let row; columns:listColumn;"></tr>
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">No Data Matchin the filter {{input1.value}}</td>
                </tr>
            </table>
            <mat-paginator #paginator1 [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
                    </mat-paginator>
        </div>
    </div>
</div>
<mat-divider></mat-divider>
<p  style="padding-top: 25px;font-weight:500;font-size: 16px;font-family: var(--mdc-protected-button-label-text-font, var(--mat-app-label-large-font));">Sum Total In / out Come.</p>  
<div class="container-sm col-spec" >
        <mat-form-field>
            <mat-label>Search item</mat-label>
            <input  (keyup)="filterTableTotal($event)" placeholder="Ex. Bizri" matInput #input2/>
        </mat-form-field>
        <table mat-table [dataSource]="dataSouce2" class="mat-elevation-z8">
            <ng-container matColumnDef="item">
                <th mat-header-cell *matHeaderCellDef>Items</th>
                <td mat-cell *matCellDef="let e1">{{e1.name}}</td>
            </ng-container>
            <ng-container matColumnDef="income">
                <th mat-header-cell *matHeaderCellDef>Income</th>
                <td mat-cell *matCellDef="let e1">{{e1.income}}</td>
            </ng-container>
            <ng-container matColumnDef="outcome">
                <th mat-header-cell *matHeaderCellDef>Outcome</th>
                <td mat-cell *matCellDef="let e1">{{e1.outcome}}</td>
            </ng-container>
            <ng-container matColumnDef="amount">
                <th mat-header-cell *matHeaderCellDef>remaining</th>
                <td mat-cell *matCellDef="let e1">{{e1.difference}}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="listColumn"></tr>
            <tr mat-row *matRowDef="let row; columns:listColumn;"></tr>
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No Data Matchin the filter {{input2.value}}</td>
            </tr>
        </table>
        <mat-paginator #paginator2 [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
                    </mat-paginator>
</div>
</div>